@using Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.RenderAppStyles()
</head>
<body>
    <h1>Asset Injection Test</h1>
    @Html.RenderAppScripts()
</body>
</html>
